.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    align-content: center;
}

.profile-box {

    width: 35vw;
    height: 70vh;
    background-color: #FBF7F3;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-top: 8%;
    text-align: center;
}

.user-m {
    margin-top: 10%;
    width: 25%;
    height: 25%;
}

.user-table-row-h {
    background-color: #520000;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* thead tr th:first-child {
    background-color: #520000;
    color: #FFFFFF;
    font-weight: normal;
    width: 100vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

tbody tr td:first-child {
    display: flex;
    float: left;
    align-items: start;
    align-self: flex-start;
    justify-self: flex-start;
} */

.user-details {
    width: 3.5vw;
    display: flex;
    float: left !important;
    align-items: start !important;
    align-self: flex-start !important;
    justify-self: flex-start !important;
}

.user-deets {
    font-weight: bold;
    display: flex;
    align-items: start !important;
}

.user-d {
    width: max-content;
    font-weight: normal;
    display: flex;
    align-items: center !important;
}

.user-margin {
    margin-right: 15% !important;
}

.tr-row {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.tr-row-2 {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-around;
}

.button-row-profile {
    margin-top: 5% !important;
    display: flex;
    align-items: center !important;
    align-self: center !important;
    justify-self: center !important;
    justify-content: space-evenly;
}

.delete-user-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-user-modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: #B88D5D;
    backdrop-filter: blur(5px);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-user-icon {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0% !important;
}

.delete-user-modal_header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    text-align: center;
    color: #520000;
    margin-top: 5%;
    margin-bottom: 5%;
}

.delete-user-content {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 300;
    font-size: medium;
    text-align: center !important;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    color: #FFFFFF;
    /* margin-bottom: 20%; */
}

.delete-modal_footer {
    margin-top: 5%;
}

.yes {
    background: #520000;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.no {
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 600;
    color: #520000;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.no:hover,
.yes:hover {
    background-color: rgba(54, 67, 72, 0.8);
}