.edit-item-container {
  position: fixed;
  z-index: 99 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-item-modal {
  width: 30vw;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  background-color: #B88D5D;
  backdrop-filter: blur(5px);
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99 !important;
}

.edit-item-modal-header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  /* line-height: 48px; */
  text-align: center;
  color: #520000;
  margin: 0%;
  /* margin-top: 10px; */
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.close:hover img {
  transform: scale(1.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-content {
  margin-top: 16px;
  padding: 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.edit-item-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.okay {
  background: #520000;
  border: none;
  border-radius: 10px;
  font-family: 'Inter';
  color: #FFFFFF;
  font-size: medium;
  width: 6vw;
  height: 5vh;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.cancel {
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 600;
  color: #520000;
  font-size: medium;
  width: 6vw;
  height: 5vh;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.okay:hover,
.cancel:hover {
  background-color: rgba(54, 67, 72, 0.8);
}

.edit-viand-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editvname,
.editvdescription,
.editvprice,
.editvquantity,
.editvexpiry {
  font-family: 'Inter';
  font-weight: 400;
  width: 20vw;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5%;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

.editvprice::-webkit-outer-spin-button,
.editvprice::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editvquantity::-webkit-outer-spin-button,
.editvquantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.initial-image-label {
  /* align-items: flex-start; */
  font-size: small;
  font-weight: 500;
  color: #000000;
  margin: 0%;
}

.initial-image-name {
  font-size: small;
  color: #000000;
  margin: 0%;
  margin-bottom: 2%;
}