.profits-page {
    background-image: url(../../../Assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: center;
}

.profitpageheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profit {
    width: 50%;
    height: 10%;
    margin: 2% 0% 0% 12%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: xx-large;
    align-items: center;
    color: #520000;
}

/* PROFITS LIST CSS */

.profits-list {
    position: fixed;
    z-index: 0 !important;
    top: 18%;
    left: 12%;
    width: 50%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: scroll;
    max-height: 65%;
}

.profits-list table {
    table-layout: fixed;
    width: 100%;
}

.profits-list th,
.profits-list td {
    width: 25%;
}

.profits-list tr:nth-child(odd) {
    background: #FFFFFF;
}

.subtotal-containers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 60vh;
    margin: 6% 10% auto auto;
}

.daily-subtotal,
.monthly-subtotal {
    flex: 1;
    width: 18vw;
    height: 22vh;
    background-color: #F7F1F1;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(72, 30, 30, 1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.daily-subtotal-content,
.monthly-subtotal-content {
    font-family: 'Inter';
    font-size: medium;
    font-weight: 600;
    background-color: #520000;
    color: #FFFFFF;
    height: 7vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}

.daily-subtotal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daily-subtotal-text,
.monthly-subtotal-text {
    font-family: 'Inter';
    font-weight: 800;
    font-size: xx-large!important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20%;
    /* line-height: 0%; */
    /* margin-bottom: 30%; */

}

.daily-subtotal-title,
.monthly-subtotal-title{
    font-family: 'Inter';
    font-weight: 800;
    font-size: small;
    text-align: center;
    height: 20%;
    color: 	#036704;
    /* margin-bottom: 20%; */
}

.daily-subtotal-gcash,
.monthly-subtotal-gcash{
    font-family: 'Inter';
    font-weight: 800;
    font-size: small;
    text-align: center;
    height: 20%;
    color: #022DB8;
    /* margin-bottom: 20%; */
}


.margin {
    margin-top: 20%!important;
}