.orders-page {
    background-image: url(../../../Assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: center;
}

.orderpageheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order {
    width: 50%;
    height: 10%;
    margin: 2% 0% 0% 12%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: xx-large;
    align-items: center;
    color: #520000;
}

/* ORDERS LIST CSS */

.orders-list {
    position: fixed;
    z-index: 0!important;
    top: 18%;
    right: 7%;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: scroll;
    max-height: 65%;
}

.orders-list table {
    table-layout: fixed;
    width: 100%;
}

.orders-list th.order-first-column {
    width: 15%;
}

.orders-list th.order-last-column {
    width: 20%;
}
  
.orders-list th,
.orders-list td {
    width: 25%;
}

.orders-list tr:nth-child(odd) {
    background: #FFFFFF;
}

.order-view {
    font-family: 'Inter';
    font-style: normal;
    font-size: medium;
    background-color: #520000;
    color: #FFFFFF;
    width: 80%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    padding-right: 20%;
    background-image: url(../../../Assets/view.svg);
    background-size: 16px 16px;
    background-position: 90% center; 
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

.order-status {
    font-family: 'Inter';
    font-style: normal;
    background-color: #520000;
    font-size: medium;
    color: #FFFFFF;
    width: 100%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    padding-right: 20%;
    background-image: url(../../../Assets/status.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

/* ADD ORDER MODAL */

.view-order-container {
    position: fixed;
    z-index: 99 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-order-modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: #B88D5D;
    backdrop-filter: blur(5px);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99 !important;
}

.exit {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8%;
    right: 8%;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.exit img {
    height: 20px;
}

.view-order-modal_header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #520000;
    margin: 0;
    margin-top: -10%;
    margin-bottom: 10%;
}

/* VIEW ORDER TABLE */

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

.order-info{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 2%;
    color: #837A7A;
}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-left {
    display: flex;
    align-items: center;
}
  
.order-right {
    text-align: right;
}

.view-order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failed, 
.serving,
.complete {
    background: #520000;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: medium;
    width: 8vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10%;
}

.failed {
    background: #520000;
}
  
.serving {
    background: #ECCA00;
}

.complete {
    background: #245B0A;
}
  
.status-content {
    display: flex;
    align-items: center;
}
  
.status-content .order-status {
    margin-left: 5px;
}

.status-content .order-status {
    margin-left: 5px;
} 

.status-order-pending {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #837A7A;
    margin-left: 5px;
}

.status-order-failed {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #520000;
    margin-left: 5px;
}

.status-order-serving {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ECCA00;
    margin-left: 5px;
}

.status-order-complete {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #245B0A;
    margin-left: 5px;
}

/* .status-order-pending:hover::after {
    content: "pending";
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    color: #837A7A;
    font-size: small;
    white-space: nowrap;
}

.status-order-failed:hover::after {
    content: "failed";
    top: 56%;
    left: 60%;
    transform: translateX(200%);
    color: #520000;
    font-size: small;
    white-space: nowrap;
}

.status-order-serving:hover::after {
    content: "serving";
    position: absolute;
    top: 56%;
    left: 45%;
    transform: translateX(-60%);
    color: #ECCA00;
    font-size: small;
    white-space: nowrap;
}

.status-order-complete:hover::after {
    content: "complete";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #245B0A;
    font-size: small;
    white-space: nowrap;
} */

.order-icon {
    width: 25px;
    height: 25px;
} 