.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer_signup-modal {
  width: 30vw;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  background-color: #B88D5D;
  backdrop-filter: blur(5px);
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer_signup-modal_header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #520000;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.close:hover img {
  transform: scale(1.1);
}

.customer-signup {
  background: #520000;
  border: none;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 600;
  color: #FFFFFF;
  font-size: medium;
  width: 10vw;
  height: 5vh;
  cursor: pointer;
  padding: 0;
}

.customer-signup:hover {
  background-color: #B88D5D;
  color: #520000;
  border-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
}

.login:hover,
.signup:hover {
  background-color: rgba(54, 67, 72, 0.8);
}