.input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.name, 
.email,
.password,
.contact {
    font-family: 'Inter';
    width: 75%;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px; 
}
  