.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer_signup-modal {
  width: 30vw;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  background-color: #B88D5D;
  backdrop-filter: blur(5px);
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.customer_signup-modal_header-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  text-align: center;
  color: #520000;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.close:hover img {
  transform: scale(1.1);
}

.modal_footer {
  float: right;
  padding: 3rem 0;
  padding-bottom: 0;
}

.modal_footer button {
  padding: 0.5rem;
  border-radius: 10px;
}

.customer-signup {
  background-color: #481E1E;
  color: #FFFFFF;
  font: 'Inter';
  border:none;
  width: 150px;
  font-weight: bold;
}

.login:hover, .signup:hover {
  background-color: rgba(54, 67, 72, 0.8);
}
