.employee-page {
    background-image: url(../../../Assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.e {
    position: absolute;
    width: 25%;
    height: 10%;
    left: 10%;
    top: 1%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #520000;
}

.add-employee {
    font-family: 'Inter';
    font-style: normal;
    font-size: 15px;
    background-color: #520000;
    color: #FFFFFF;
    width: 11%;
    height:35px; 
    border-radius: 5px;
    border: none;
    margin: 20px 20px 20px 100px;
    padding: 5px 20px 5px 5px;
    float: right;
    background-image: url(../../../Assets/addemployee.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}

/* EMPLOYEE LIST CSS */

.employee-list {
    position: fixed;
    top: 23%;
    right: 7%;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
} 
  
.employee-list table {
    table-layout: fixed;
    width: 100%;
}

.employee-list th.first-column {
    width: 8%;
}

.employee-list th.last-column {
    width: 10%;
}
  
.employee-list th,
.employee-list td {
    width: 25%;
}

.employee-list tr:nth-child(odd) {
    background: #FFFFFF;
}

.edit {
    font-family: 'Inter';
    font-style: normal;
    font-size: 100%;
    background-color: #520000;
    color: #FFFFFF;
    width: 100%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    float: right;
    background-image: url(../../../Assets/edit.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.delete {
    font-family: 'Inter';
    font-style: normal;
    background-color: #520000;
    font-size: 100%;
    color: #FFFFFF;
    width: 100%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    float: right;
    background-image: url(../../../Assets/delete.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ADD EMPLOYEE MODAL css */

.add-employee-container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.add-employee-modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: #B88D5D;
    backdrop-filter: blur(5px);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.exit {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 8%;
    right: 8%;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
.exit img {
    height: 20px;
}
  
.add-employee-modal_header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #520000;
    margin-top: 10px;
}
  
.close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
}
  
.close:hover img {
    transform: scale(1.1);
}
  
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.okay {
    background: #481E1E;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.cancel {
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 600;
    color: #481E1E;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}
  
.okay:hover,
.cancel:hover {
    background-color: rgba(54, 67, 72, 0.8);
}

/* ADD EMPLOYEE FORM CSS */

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name,
.email,
.password {
  /* Add your styles here */
  /* Example styles */
  font-family: 'Inter';
  font-weight: 400;
  width: 150%;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

.contact {
  font-family: 'Inter';
  font-weight: 400;
  width: 150%;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  appearance: none;
  -moz-appearance: textfield;
}

.contact::-webkit-outer-spin-button,
.contact::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* DELETE EMPLOYEE CSS */

.delete-employee-container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.delete-employee-modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: #B88D5D;
    backdrop-filter: blur(5px);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-icon {
    width: 90%;
    height: 90%;
}
  
.delete-employee-modal_header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 200%;
    text-align: center;
    color: #520000;
    margin-top: 5%;
    margin-bottom: 5%;
}
  
.delete-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20%;
}

.delete-modal_footer {
    margin-top: 5%;
}

.yes {
    background: #481E1E;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    color: #FFFFFF;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

.no {
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 600;
    color: #481E1E;
    font-size: medium;
    width: 6vw;
    height: 5vh;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}
  
.no:hover,
.yes:hover {
    background-color: rgba(54, 67, 72, 0.8);
}

/* EDIT EMPLOYEE CSS */

.edit-employee-container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.edit-employee-modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: #B88D5D;
    backdrop-filter: blur(5px);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.edit-employee-modal_header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #520000;
    margin-top: 10px;
}
