.employee-list {
    position: fixed;
    top: 23%;
    right: 7%;
    width: 80%;
    background: rgba(255, 255, 255, 0.9);    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
} 
  
.employee-list table {
    table-layout: fixed;
    width: 100%;
}

.employee-list th.first-column {
    width: 8%;
}

.employee-list th.last-column {
    width: 10%;
}
  
.employee-list th,
.employee-list td {
    width: 25%;
}

.employee-list tr:nth-child(odd) {
    background: #FFFFFF;
}

.edit {
    font-family: 'Inter';
    font-style: normal;
    background-color: #520000;
    color: #FFFFFF;
    width: 100%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    float: right;
    background-image: url(../../../Assets/edit.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete {
    font-family: 'Inter';
    font-style: normal;
    background-color: #520000;
    font-size: 100%;
    color: #FFFFFF;
    width: 100%;
    height: 30px; 
    border-radius: 5px;
    border: none;
    float: right;
    background-image: url(../../../Assets/delete.svg);
    background-size: 16px 16px;
    background-position: 95% center; 
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
