.dashboard {
    background-image: url(../../../Assets/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-x: center;
}

.dash {
    position: fixed;
    width: 25%;
    height: 10%;
    margin: 2% 0% 0% 12%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: xx-large;
    align-items: center;
    color: #520000;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto 18% 12%;
}
  
.box {
    flex: 1;
    width: 18vw;
    height: 22vh;
    background-color: #481E1E;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.box-content {
    background-color: #FFFFFF;
    height: 5vh;
    width: 18vw;
    font-size: medium;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.employee-container, 
.profit-container, 
.cart-container {
    width: fit-content;
    height: fit-content;
}

.employee {
    width: 50%;
}

.wallet,
.cart {
    width: 30%;
}

.number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: xxx-large;
    line-height: 97px;
    color: #FFFFFF;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -12% auto 0 9.5%;
}

.box2 {
    flex: 1;
    width: 14vw;
    height: 25vh;
    background-color: #481E1E;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.box-content2 {
    background-color: #FFFFFF;
    height: 5vh;
    width: 14vw;
    font-size: medium;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.viands-container, 
.drinks-container, 
.snacks-container, 
.schoolsupply-container {
    padding-top: 20%;
    width: fit-content;
    height: fit-content;
}

/* ORDER LIST CSS */

.order-list {
    position: fixed;
    top: 22%;
    right: 2%;
    width: 20vw;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.order-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.order-list li {
    margin-bottom: 3%;
    padding: 2%;
    background-color: #fff;
    border-radius: 4px;
}
  
/* SEARCH BAR CSS */

.search {
    position: fixed;
    right: 2%;
    top: 5%;
    font-family: 'Inter';
    width: 20%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-image: url(../../../Assets/search.svg);
    background-size: 16px 16px; 
    background-position: 95% center; 
    background-repeat: no-repeat;
}

/* SIDEBAR CSS */

.logo {
    width: 50px;
    height: 50px;
    margin: 10%;
}
  
.nav-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
}
.navtext {
    font-family: 'Inter';
}
.shutdown {
    margin-top: 5%;
}