.logo {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 10px;
}
  
.nav-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.navtext {
    font-family: 'Inter';
}

.shutdown {
    margin-top: 40px;
}