.transparent-button {
    background: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    color: #00573F;
    font-weight: bold
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    padding-top: 2%;
}

.landing {
    background-image: url('../public/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo{
    width: 8%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.kaha{
    width: 25%;
    height: 25%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    overflow: hidden;
}

.login{
    background: #481E1E;
    border: none;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    width: 15%;
    height: max-content;
    padding: 1%;
}
  
  
  