.big-landing{
    height:100vh;
    margin-bottom: 2%;
}
.landing {
    height: 100vh; 
    overflow-x:hidden;
    overflow-y: auto;
  }

  .inside-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(98vh - 100px); 
    overflow-x:hidden;
    overflow-y: auto;
  }
  
  .content-container {
    overflow-y:hidden;
    padding: 20px;
    column-count: 2;
    column-gap: 20px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#520000;
    border-bottom: 20px solid #520000;
}

.about {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: xx-large;
    color: #520000;
    margin: 1% 0% 0% 5%;
}

.upcbanner {
    width: 100vw;
    opacity:0.8;
    margin-top: 10%;
    border-bottom: 20px solid #520000;
}

.text-container {
    background-color: #520000;
    color: #FFFFFF;
    padding: 20px; 
    margin-top: 20px; 
    /* margin-right: 160px; */
    /* margin-left: 50px; */
}

.footer-image {
    position: relative;
    width: 20%;
    height: 20%; 
    margin-top: 20%;
    z-index: -1;
}

