.landing {
    height: 100vh; 
    overflow-y: auto;
    overflow-x:hidden;
  }
  
  .content-container {
    padding: 20px; 
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.about {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: xx-large;
    color: #520000;
    margin: 1% 0% 0% 5%;
}

.upcbanner {
    width: 100vw; 
    opacity:0.8;

}

.text-container {
    background-color: #340808;
    color: #FFFFFF;
    padding: 20px; 
    margin-top: 20px; 
    /* margin-right: 160px; */
    /* margin-left: 50px; */
}

.footer-image {
    position: fixed;
    width: 20%;
    height: auto; /* Maintain aspect ratio */
    bottom: 0;
    left: 0;
    z-index: -1;
}